{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/symfonycmftree/css/jquery.treeview.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/symfonycmftree/js/jstree/jquery.jstree.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        function initTrees() {
            
            jQuery("#tree").jstree({ 
                "json_data": {
                    "ajax": {
                        url:    "{{ path('symfony_cmf_phpcr_browser_children') }}",
                        data:   function (node) {
    	                    return { 'root' : jQuery(node).attr('id') };
    	                }
                    }
                },
                "plugins" :     [ "themes", "json_data" ] 
            });
            
        }
        $(document).ready(function(){
            initTrees();

        });
    </script>

{% endblock %}

{% block side_menu %}
    <div id="tree"></div>
    {{ parent() }}
{% endblock %}