{% extends '::base.html.twig' %}

{% block content %}
    <h1>Sitemap</h1>
    <p>
        The sitemap feature allows to give an overview of the content.
        The content document decides whether it should be displayed on a sitemap or not.
        The sitemap of the symfony-cmf sandbox is relatively flat because the content URL structure is flat.
        If you have deeper nested content, the sitemap is organized along the nested structure.<br />
        This information is arranged for human users. For search engines, the sitemap also exists in
        an <a href="{{ url('cmf_seo_sitemap', {_format: 'xml', sitemap: 'sitemap'}) }}">xml format</a>.
    </p>
    <ul class="cmf-sitemap">
        {% for url in urls %}
            <li{% if url.depth is not null %} class="indent-{{ url.depth }}"{% endif %}>
                <a href="{{ url.location }}" title="{{ url.label }}">{{ url.label }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
