{% extends "SymfonyCmfCoreBundle::skeleton.html.twig" %}

{% block includes %}
    {{ parent() }}
    {% stylesheets  '@SandboxMainBundle/Resources/public/css/style.css'
                    '@LiipVieBundle/Resources/public/hallo/Aristo/jquery-ui-1.8.7.custom.css'
                    '@LiipVieBundle/Resources/public/css/halloLiipStyle.css'
                    '@LiipVieBundle/vendor/hallo/examples/overlay.css'
                    '@LiipVieBundle/vendor/hallo/examples/image.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div id="userBar" style="display: none">
        <div class="inner"><button class="saveButton">Saved</button></div>
    </div>
    {{ parent() }}
{% endblock %}

{% block bottom_scripts %}
    {{ parent() }}
    {% render "liip_vie.controller.vie:includeJSFilesAction" %}

    {# Don't include this if no permission to edit #}
    {% javascripts
                '@SandboxMainBundle/Resources/public/js/hiddenfields.js'
                '@SandboxMainBundle/Resources/public/js/savebutton.js'
                '@SandboxMainBundle/Resources/public/js/userbar.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {# End don't include this if no permission to edit #}
{% endblock %}
