{% extends "SymfonyCmfCoreBundle::skeleton.html.twig" %}

{% block includes %}
    {{ parent() }}
    {% stylesheets '@SandboxMainBundle/Resources/public/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen" type="text/css"/>
    {% endstylesheets %}

    {% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %}
        {% stylesheets '@LiipVieBundle/vendor/hallo/examples/Aristo/jquery-ui-1.8.7.custom.css'
                    '@LiipVieBundle/Resources/public/css/halloLiipStyle.css'
                    '@LiipVieBundle/vendor/hallo/examples/overlay.css'
                    '@LiipVieBundle/vendor/hallo/examples/image.css'
                    '@LiipVieBundle/Resources/halloplugins/link.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" media="screen" type="text/css"/>
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block header %}
    {% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %}
        <div id="userBar">
            <div class="inner"><button class="saveButton">Saved</button></div>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block bottom_scripts %}
    {{ parent() }}
    {% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %}
        {% render "liip_vie.controller.vie:includeJSFilesAction" %}

        {% javascripts
                    '@SandboxMainBundle/Resources/public/js/savebutton.js'
                    '@SandboxMainBundle/Resources/public/js/userbar.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}
