{% extends "SandboxMainBundle::skeleton.html.twig" %}

{% block title %}{{ cmfMainContent.title }}{% endblock %}

{% block content %}

{% createphp cmfMainContent as="rdf" %}

<div class="newsoverview" {{ createphp_attributes(rdf) }}>
    <h2 {{ createphp_attributes( rdf.title ) }}>{{ createphp_content( rdf.title ) }}</h2>
    <p {{ createphp_attributes( rdf.body ) }}>{{ createphp_content( rdf.body|raw ) }}</p>
    <ul {{ createphp_attributes( rdf.children ) }}>
        {% for news in cmf_children(cmfMainContent) %}
        {% createphp news %}
        <li {{ createphp_attributes(news_rdf) }}>
            <a href="{{ path(news) }}" {{ createphp_attributes(news_rdf.title) }}>{{ createphp_content(news_rdf.title) }}</a>
                (<span class="newsdate">{{ news.publishStartDate | date('Y-m-d')  }}</span>)
            <div class="newscontent" {{ createphp_attributes(news_rdf.body) }}>{{ createphp_content(news_rdf.body) }}</div>
        </li>
        {% endcreatephp %}
        {% endfor %}
    </ul>
</div>

{% endcreatephp %}

{% endblock content %}

{% block custom_scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        //show / hide the news content according to the mode (edit / view)
        $('body').bind('midgardcreatestatechange', function (event, options) {
            if (options.state == 'edit') {
                $('div.newscontent').show();
            } else {
                $('div.newscontent').hide();
            }

            /**
             * Create.js always duplicates the first element of the list when
             * content is added. This hack allows to overwrite the news date
             * of the 1st news with 'today' when a news is added. The backend
             * takes care of setting the real date after save is clicked.
             */
            $(".btn").click(function() {
                $('.newsdate').last().text('today');
            });
        });
    });
</script>
{% endblock %}
